button{
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
}
/* 文字サイズ変更　*/
button.No1:hover  {
    font-size: 2.5em;
}
button.No1:active  {
    font-size: 5.0em;
}

/* カラー変更　*/
button.No2:hover  {
     background-color: #248
}
button.No2:active  {
     background-color: #250
}


/* 回転　*/
button.No3:hover  {
    transition: 2.5s ;
    transform: rotateZ( 360deg ) ;
}
button.No3:active  {
    transition: 1.5s ;
    transform: rotateZ( 360deg ) ;
}

/* グラデーション */
button.No4:hover  {
  background: linear-gradient(-45deg, pink, aqua, green, orange) ;
  /* サイズを8倍にして表示をさせなくして移動させるイメージ */
  background-size: 800% 800%;
  animation: GradietionPtn 4s ease infinite
}

@keyframes GradietionPtn { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*　押してる間だけ見える。　*/
button.No4:active  {
    background: linear-gradient(to top right,blue, pink,yellow,black);
    background-size: 800% 800%;
    animation: GradietionPtn 1s ease infinite
}